<!DOCTYPE html>
<html>
<head>
	<title>Valentines</title>
</head>
<body>

	<h1>Valentines</h1>

	<table border=1>
		<tr>
			<th>Name:</th>
			<th>Email:</th>
		</tr>
		{% for user in users %}
			<tr>
				<td><a href="/user/{{user.id}}">{{user.name}}</a></td>
				<td>{{user.email}}</td>
			</tr>
		{% endfor %}
	</table>

	<hr>

	<form action="/user" method="post">
		Name: <input type="text" name="name"><br>
		Email: <input type="text" name="email"><br>
		<input type="submit" value="Add to table">
	</form>

</body>
</html>